.Nav{
    background-color: #bdbdbd;
    text-align: center;
}
.Nav li{
    padding-right: 10px;
    padding-left: 10px;
}
#Salir{
}
.Texto{
    color: #222;

}
.menuGeneral{
    display: inline-block;
    padding-right: 70px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color: rgb(0, 0, 0);

}
.NavBar a:hover {
    color: rgb(145, 110, 110);
    text-decoration: none;

  }