.Tabla{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.Tabla h1{
    text-align: center;
}

.ContenedorTitulo{
    text-align: center;
}
.BuscarNombre{
    text-align: center;
    width: 200px;
}
.BotonBuscarNombre{
    width: 200px;
    height: 30px;
    
}
.ModalForm{
    text-align: left;

}
.card{
    background-color: #efefef;
}
.Icono2{
    font-size: 22px;
    margin-top: 15px;
}

.container{
    display: inline-block;
}
.boEdi{
    width: 40px;
}
.boEli{
    width: 40px;

}
.LiInf{
    background-color: rgb(85, 167, 71);
    height: 60px;
    width: 40px;
    margin-right: 30px;
    margin-left: -15.5px;
}
