.Tabla{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
}
.Tabla h1{
    margin-right: auto;
    margin-left: auto;
}

.ContenedorTitulo{
    text-align: center;
}

.tablaTotales{
align-items: flex-end;    
}
.BotonBuscarNombre{
    width: 200px;
    height: 30px;
    
}
.buscar2{
    width: 200px;
    margin-left: 5px;
}

.ModalForm{
    text-align: left;

}
.card{
    background-color: #efefef;
}
.Icono{
    width:50px
}
.Icono2{
    font-size: 22px;
    margin-top: 11px;
}
.Icono3{
    font-size: 30px;
}

.container{
    display: inline-block;
}
.boEdi{
    width: 40px;
}
.boEli{
    width: 40px;

}
.LiInf{
    background-color: rgb(85, 167, 71);
    height: 50px;
    width: 30px;
    margin-right: 30px;
    margin-left: -15.5px;
}

.filaOculta{
    display: none;
}

.plus{
    font-size: 15px;
}

.espacioVertical{
    height: 5px;
}

.espacioHorizontal{
    width: 0px;
}
.ed{
    background-color: rgb(97, 97, 97);
}
.ede{
    background-color: rgb(238, 235, 235);

}

.form-control{
    background-color: rgb(238, 235, 235);
}
.losh4{
    color: white;
    margin-left: 10px;
}
.Closh4{
    background-color: gray;
}